<html>
<body>
<div>
    <form method="post">
        <input type="text" name="name" placeholder="Enter a sms"/>
        <input type="text" name="price" placeholder="Price"/>
        <button type="submit">Added</button>
    </form>
</div>
<div>List</div>

{{#messages}}
<div>
    <b>{{id}}</b>
    <span>{{name}}</span>
    <span>{{price}}</span>
</div>
{{/messages}}
</body>
</html>